__pycache___
__pycache__/
*.egg-info*
*logs*
*wandb/
filt_reach_map*
*pth
*ckpt*
*NVD@*
*SpaceLLaVA/
*GroundingDINO/
*pytorch_kinematics/
*segment-anything/
*weights/
*.png
*.jpg
base_proposal/maps/
*txt
.env
base_proposal/semantic_map/
*omni*
semantic_map/
